<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの香りは…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "111" %>
    <h6>ラーメン二郎</h6>
    <p>柑橘系の代表的な原料</p>
    <p>清涼感があり、爽やかな印象</p>

    <% elsif @perfume.question == "112" %>
    <h6>俺流　塩ラーメン</h6>
    <p>コッテリ塩</p>
    <p></p>

    <% elsif @perfume.question == "113" %>
    <h6>ラーメン二郎</h6>
    <p>華やかで上品な香り</p>
    <p>ストレスを緩和してくれる効果がある</p>

    <% elsif @perfume.question == "114" %>
    <h6>麺場　田所商店</h6>
    <p>濃厚味噌</p>
    <p>麺には健康成分含んでる！？</p>

    <% elsif @perfume.question == "121" %>
    <h6>来来亭</h6>
    <p>背脂を入れた醤油味がちょうど良くて美味しい</p>
    <p></p>

    <% elsif @perfume.question == "122" %>
    <h6>俺流塩らーめん</h6>
    <p>塩ラーメンならではのさっぱり間ではなく、濃厚な塩ラーメン</p>
    <p>俺流　熟成塩ラーメン</p>

    <% elsif @perfume.question == "123" %>
    <h6>一蘭</h6>
    <p>極細麺、麺メインのシンプルな一品</p>
    <p>万人受けしやすい</p>

    <% elsif @perfume.question == "124" %>
    <h6>山岡家</h6>
    <p>濃厚味噌は天下一品</p>
    <p>味噌のみならず、醤油、塩、豚骨も楽しめる</p>

    <% elsif @perfume.question == "211" %>
    <h6>丸源ラーメン</h6>
    <p>特製醤油がうまいいい</p>
    <p></p>

    <% elsif @perfume.question == "212" %>
    <h6>麺と未来</h6>
    <p>極ふと塩ラーメン</p>
    <p>下北沢まで足を運ぼう</p>

    <% elsif @perfume.question == "213" %>
    <h6>麺屋　大和田</h6>
    <p>とんこつラーメン専門店</p>
    <p>とんこつラーメンなのに太麺！？</p>

    <% elsif @perfume.question == "214" %>
    <h6>くるまやラーメン</h6>
    <p>チェーン味噌ラーメンの王道</p>
    <p></p>

    <% elsif @perfume.question == "221" %>
    <h6>幸楽苑</h6>
    <p>日本で1番有名な中華そば！？</p>
    <p></p>

    <% elsif @perfume.question == "222" %>
    <h6>幸楽苑</h6>
    <p>王道さっぱり系</p>
    <p></p>

    <% elsif @perfume.question == "223" %>
    <h6>とんこつラーメン博多風龍</h6>
    <p>あっさりとんこつ！！</p>
    <p></p>

    <% elsif @perfume.question == "224" %>
    <h6>麺匠　真武咲弥</h6>
    <p>味噌　細麺　名前のインパクトがすごい</p>
    <p></p>

    <% end %>

</div>
